[Desktop Entry]
Type=Application
Name=Bluetooth
Comment=Pair and connect Bluetooth devices
Exec=arka-bluetooth
Icon=bluetooth-symbolic
Keywords=bluetooth;wireless;headphones;speaker;keyboard;mouse;pair;
Categories=System;Hardware;
