[Desktop Entry]
Type=Application
Name=Settings
Comment=ArkaOS system settings
Exec=arka-settings-gtk
Icon=preferences-system-symbolic
Keywords=settings;preferences;appearance;wallpaper;display;theme;
Categories=System;Settings;
