[Desktop Entry]
Type=Application
Name=System Updates
Comment=Check for and apply system updates
Exec=arka-update
Icon=arka-update
Keywords=update;upgrade;system;os;patch;bootc;
Categories=System;
