[Desktop Entry]
Type=Application
Name=WiFi Networks
Comment=Connect to wireless networks
Exec=arka-wifi
Icon=arka-wifi
Keywords=wifi;wireless;network;internet;connection;hotspot;
Categories=System;Network;
